* {
  font-family: Comic Sans, Arial, Times New Roman;
  text-align: center;
  background-color: yellow;
}
button {
  background-color: blue;
  border-radius: 8px;
  color: white;
  padding: 15px;
  width: 100px;
  cursor: pointer;
}
#answerbox {
  height: 100px;
  width: 100px;
  padding: 30px;
  margin: 20px auto;
  border: 5px solid green;
  border-radius: 34px;  
  font-size:125px;
}